[submodule "lib/arduino/PinChangeInterrupt"]
	path = lib/arduino/PinChangeInterrupt
	url = https://github.com/NicoHood/PinChangeInterrupt.git
[submodule "lib/arduino/Servo"]
	path = lib/arduino/Servo
	url = https://github.com/arduino-libraries/Servo.git
[submodule "lib/external/hash-library"]
	path = lib/external/hash-library
	url = https://github.com/catvw/hash-library.git
[submodule "lib/external/cpp-base64"]
	path = lib/external/cpp-base64
	url = https://github.com/ReneNyffenegger/cpp-base64.git
[submodule "lib/external/argumentum"]
	path = lib/external/argumentum
	url = https://github.com/mmahnic/argumentum.git
[submodule "dev/pico/python/input/Gamepad"]
	path = dev/pico/python/input/Gamepad
	url = https://github.com/piborg/Gamepad
