@font-face {
font-family: "Quicksand";
src: url("Quicksand/static/Quicksand-SemiBold.ttf");
}
@media screen and (max-width: 700px) {
    .container {
      flex-direction: column;
    }
  }


*{
    font-family: "Quicksand";
}

h1 {
    color: black;
    text-align: center;
    font-size: 48px;
}

.welcome {
    font-size: 15px;
    padding: 20px;
}

.image_container {
    display: flex;
    justify-content: center;
}

.center{
    text-align: center;
}

img {
    display: block;
    margin: auto;
}

figcaption{
    text-align: center;
}

#hardware{
    width: 50%;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.left-column {
    flex-basis: 30%;
    padding: 20px;
    box-sizing: border-box;
}

.right-column {   
    flex-basis: 70%;
    padding: 20px;
    box-sizing: border-box;
}
.half-column {   
    flex-basis: 35%;
    padding: 20px;
    box-sizing: border-box;
}


.view{
    max-width: 100%;
}

.mpu6050{
    padding-top: 40px;
    max-width: 50%;
}


